.container-manga {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Title Rank */
#title-rank {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 10px;
}

#title-rank img {
  width: 50px;
  margin-right: 20px;
}

#title-rank h1 {
  font-size: 2.5rem;
  background: linear-gradient(to right, #add8e6, #87cefa);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* Mangá Section */
#section-mangas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.manga-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffffc4;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px 25px;

  transition: transform 0.7s ease;
  border: 2px solid #797979;
}

.manga-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.manga-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.description-text h1 {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  margin: 10px 0 5px 0;
  color: black;
}

.description-text p {
  font-size: 0.6rem;
  font-weight: 500;
  text-align: justify;
  width: 80%;
  margin: 0 auto;
  color: #000;
}

/* Sold mangas */
#sold-mangas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto 15px auto;

  border-radius: 10px;
}

#sold-mangas img {
  max-width: 100%;
  width: 30px;
}

#sold-mangas span {
  margin-left: 5px;
  font-size: 0.7rem;
  font-weight: 600;
  color: black;
}

/* Responsive Area */

@media (max-width: 375px) {
  .manga-card {
    padding: 10px;
    max-width: 100%;
  }

  .description-text h1 {
    font-size: 1.2rem;
  }

  .description-text p {
    font-size: 0.9rem;
  }
}
