.container-manga {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Title Rank */
#title-rank {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 10px;
}

#title-rank img {
    width: 50px;
    margin: 10px;
}

#title-rank h1 {
    font-weight: bold;
    font-size: 30px;
}

/* Mangá Section */
#section-mangas {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.manga-card {
    display: flex;
    align-items: center;
    margin: 30px 0;
    padding: 40px;
    max-width: 100%;

    background-color: #7c7c7c;
    border-radius: 10px;
    border: 3px double orange;
}

.manga-card img {
    margin-right: 20px;
    max-width: 100%;
}

.description-text {
    display: block;
    height:250px;
    max-width: 50%;
}

.description-text h1 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.description-text p {
    font-size: clamp(0.9rem, 0.6rem, 2vw);
    line-height: 1.2;
}

/* Responsive Area */

/* Mobile responsive */
@media(max-width: 800px ) and (min-width: 350px) {
    #section-mangas {
        margin: 15px;
    }
}

/* Text */
@media(min-width: 400px) and (max-width: 493px) {
    .description-text p {
        font-size: 0.6rem;
    }
}



