.container-manga {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title-description-mangas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 10px;
}

#title-description-mangas img {
    width: 50px;
    margin: 10px;
}

#title-description-mangas h1 {
    font-weight: bold;
    font-size: 30px;
}

/* Mangá Section */
#section-mangas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80%;

    margin: 20px auto;
}

.manga-description {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 30px 30px;

    background-color: #4f4f4f;
    padding: 20px;
    border-radius: 10px;
}

.manga-description span {
  width: 400px;
}

.manga-description img {
    object-fit: cover;
    width: 200px;
}

.sinopse-mangas {
    margin: auto 25px;
    padding: 15px;
}

.sinopse-mangas h1 {
    margin-bottom: 28px;
    font-size: 36px;
    font-family: "Times New Roman", Times, serif;
}

.sinopse-mangas p {
    max-width: 50%;
    font-weight: 200;
    font-size: 11px;
}

/* star avaliation */
#stars-avaliations {  
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 20px 0;
  max-width: min-content;
  border-radius: 10px;

  background-color: #363434;
}

#stars-avaliations {
    margin-top: 50px;
}

#stars-avaliations:hover {
  background-color: #F4A460;
  transition: 0.4s;
}

#stars-avaliations p {
  margin-left: 6px;
  font-weight: 900;
}


#stars-avaliations img {
  width: 20px;
}
