@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(
    to bottom,
    #cf732a,
    #d88225,
    #e09120,
    #e6a119,
    #ebb212
  );
  color: #fff;
}

/* Header */
.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #ccc;
  padding: 10px;
}

#ninja-logo img {
  margin: 5px 10px;
  width: 50px;
}

/* Navbar */
.nav-container ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  position: sticky;
}

.nav-container li {
  list-style: none;
}

.nav-container a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  color: #fff;
}

.nav-container a:hover {
  border-bottom: 2px solid white;
}

/*Input de buscar*/
.search-area {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.search-area label {
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  color: orange;
}

.search-area input {
  width: 30%;
  height: 50px;
  border: none;
  border-radius: 8px;
}

.search-area input::placeholder {
  text-align: center;
  color: black;
}

/*Button Search*/
#search-button {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

#search-button button {
  padding: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#search-button button:hover {
  background-color: orange;
  transition: 0.7s;
}

/* Main title */
.main-title {
  margin: 0 auto;
  padding: 15px;
}

/* Main content */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;
  max-width: 100%;
}

.main-container article {
  display: flex;
  margin: 30px 0 20px 0;
  background-color: #fff;
  color: black;
}

.content-animes {
  display: flex;
  margin: 0 auto;
}

.article-anime {
  display: flex;
  align-items: center;
  max-width: 900px;
  padding: 30px;
}

.article-anime img {
  width: 12vw;
}

.description-anime {
  margin: 0 auto;
  width: 60%;
}

.description-anime span {
  font-size: 0.8rem;
  font-style: italic;
}

.description-anime h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

